@{
    ViewData["Title"] = "Start Page";
}

<div class="text-center">
    <h1 class="display-4">Поздравляю, вы вошли на данный сайт</h1>
    <p>Здесь пока ничего нету:) но скоро будет. По вопросам можно писать <a href="https://vk.com/fendin"> на мою личную страницу VK</a>.</p>
</div>
