@model string

<div class="form-floating mb-2 phone-input">
    <label class="form-label">Телефон</label>
    <input id="phone" name="Phone" type="tel" class="form-control" value="@Model" />
    <span class="text-danger d-block mt-1"></span>
</div>